.site-nav {
    height: 3rem;
    background-color: black;
    position: fixed;
    width: 100%;
}

.site-nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.site-nav-menu-item {
    font-size: 3rem;
    list-style: none;
}

.site-nav-menu-item a {
    text-decoration: none;
    color: hsl(49, 71%, 88%);
}

.site-nav-menu-item a:hover {
    color: hsl(49, 71%, 100%);
}